
<div class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
       
       <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Discription</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <th scope="row">Software Project Development</th>
                <td>
                    Application developer can keep track of every upcomming and released events<br>
                    Project Manager can add and delete task <br>
                    Developer can get notifications for task due and assign tasks<br>
                    Client can view the work complition by developer team
                     </td>
                </tr>
                <tr>
                <th scope="row">Clean City</th>
                <td>
                    Client can request for any problem in city<br>
                    Client can complient against any disobiddient<br>
                    Municipality members can view request and complients and solve the problems<br>
                    Clients can view completed works and upcomming project in the city
                    </td>
              </tr>
              <tr>
              <th scope="row">College Mobility</th>
                <td>
                    Faculty can upload course material <br>
                    Student can review the course material from android application<br>
                    Faculty can give score for assignment and curriculam activities 
                </td>
                </tr>
                
            </tbody>
          </table>
    </div>
  </div>
